body{
    background-color: #fad390;
    overflow: hidden;
}
body *{
    font-family: 'Roboto Condensed', sans-serif;
}
.d-none{
    display: none;
}
.info, .titre, .controls, .stats{
    z-index: 1;
}

.p5Canvas {
    z-index: 0;
    position: relative;
	display: block;
    margin: auto;
    margin-top: 190px;
    box-shadow: 10px 13px 10px 2px #e58e26;
}

.titre h1 {
    font-size: 45px;
    color: #000;
    font-weight: 800;
    font-family: monospace;
    text-decoration: underline;
    left: 122px;
    top: 35px;
    position: absolute;
}

.info {
    position: absolute;
    top: 74%;
    left: 0;
    width: 20%;
    inline-size: 788px;
    padding: 7px 7px 7px 27px;    
    color: white;
    background-color: #60a3bc;
    box-shadow: 6px 6px 10px 2px #423d5d;
    /*border-radius: 0px 10px 10px 0px;*/
    text-align: left;

}
.info p{
    font-size: 16px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: -1px;
    line-height: 20px;
}
.info p.a.show {
    display: block;
}
.info p.b.show {
    display: block;
}
.info p.a {
    display: none;
}
.info p.b {
    display: none;
}
.info span {
    padding: 5px;
    position: relative;
    margin-left: 493px;
    border-top: solid 2px #1e3799;
    border-left: solid 2px #1e3799;
}

.stats{
    transition-duration: .9s;
    position: absolute;
    top: 74%;
    right: 0;
    width: 48%;
    padding: 7px 7px 7px 27px;
    background-color: #4a69bd;
    color: white;
    box-shadow: 10px 6px 10px 2px #423d5d;
    /*border-radius: 10px 0px 0px 10px;*/
    text-align: left;
    min-height: 70px;
    max-height: 200px;
}
.stats.little {
    right: -45.5%;
}

.stats table {
    max-height: 200px;
    overflow-y: scroll;
}
.stats td {
    border-right: 2px dashed #60a3bc;
    border-left: 2px dashed #60a3bc;
    border-bottom: 2px solid #60a3bc;
    text-align: left;
    padding: 5px;
    max-width: 50px;
    overflow: hidden;
  }

.stats th{
    padding: 8px;
    padding-right: 20px;
    background-color: #0c2461;
    font-size: 14px;
    font-weight: 100;
    line-height: 12px;
}

.controls {
    transition-duration: .5s;
    position: absolute;
    right: 00px;
    top: 10px;
    height: 140px;
    width: 40%;
    padding: 12px 7px 7px 27px;
    background-color: #6a89cc;
    box-shadow: 7px 6px 10px 2px #423d5d;
    /* border-radius: 10px 0px 0px 10px; */
}
.controls.little {
    right: -28%;
}
.controls.medium {
    right: -15%;
}


.label-import {
    display: inline-block;
    cursor: pointer;
    width: 55%;
    margin-bottom: 7px;
    -webkit-appearance: none;
    background: #1e3799;
    color: white;
    padding: 1px 0px;
    text-align: center;
    vertical-align: middle;
    height: 21px;
    line-height: 21px;
    font-size: 11px;
    font-weight: 100;
}


.col {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border-right: dotted 2px #0c2461;
}

 button {
    width: 90%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #1e3799;
    color: white;
    border: none;
}
 span{
    margin-left: 3px;   
    margin-right: 3px;
    color : white;
    font-size: 14px;
    vertical-align: text-top;
}

 input[type=text]{
    width: 50px;
    margin-bottom: 6px;
}

 input[type=radio]{
    -webkit-appearance: checkbox;
}
 button.plus {
    position: absolute;
    transform: rotateZ(-90deg);
    z-index: -1;
    top: 56px;
    left: -50px;
    height: 30px;
    width: 70px;
    box-shadow: inset 4px -2px 8px 0px #9485e473;
}
.stats button.plus {
    top: 50%;
    transform: translateY(-50%) rotateZ(-90deg);
}

#import{
    width: 33%;
    vertical-align: middle;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 7px;
}
.dif {
    margin-bottom: 10px;
}

.label-import:hover, button:hover{
    background: #2c46af;
    transition-duration: .2s;
}

.modal {
    position: absolute;
    display: block;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
    background: #000000b5;
    border: none;
    box-shadow: 4px 5px 10px 2px #000000b5;
}
.modal.off{
   display: none; 
}
.modal * {
    font-family: monospace;
    text-align: center;
}
.modal h2 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: monospace;
    text-decoration: underline;
    margin-top: 10px;
}
.modal table {
    width: 90%;
    margin-left: 5%;
    background: #ffffff4f;
    color: white;
    font-size: 18px;
}




/*Animation fleche .controls*/

@keyframes hello {
    0% {margin-bottom: 0px;}

    1% {margin-bottom: 3px;}
    2% {margin-bottom: 0px;}
    3% {margin-bottom: 3px;}
    4% {margin-bottom: 0px;}
    5% {margin-bottom: 3px;}
    6% {margin-bottom: 0px;}
    7% {margin-bottom: 3px;}
    8% {margin-bottom: 0px;}


    100% {margin-bottom: 0px}
  }

  

i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: bottom;
    margin: 2px;
    transition-duration: .3s;
    animation-name: hello;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.medium i.arrow.up {
    opacity: 0;
}
.medium i.arrow.up.center {
    opacity: 1;
    margin-bottom: 0px;
    
    border-width: 0 3px 3px 0;
}
 i.arrow.up{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.little i.arrow.up, .medium i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

 i.center {
    opacity: 1;
    animation-delay: 0s
}

